.main {
    color: #8f8d8d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 90%;
    cursor: pointer;
    margin: 0.5rem;
}

.main h3 {
    margin: 1rem;
}

.main img {
        
        width: 3rem;
        height: 3rem;
        border: solid 2px #8257E5;
        border-radius: 1rem;
        transition: 0.1s;
}

.main:hover {
    scale: 100%;
    color: #fff;
    border-bottom: solid 3px #8257E5;
}


@media screen and (max-width: 768px) {
    .main h3 {
        display: none;
    }

        
}

@media screen and (min-width: 1000px) and (max-width: 1360px)  {
   
    .main img {
        width: 2rem;
        height: 2rem;
    }
    .main h3 {
        margin: 0;
    }
}