.main {
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin-top: 5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main button {
    cursor: pointer;
    width: 10rem;
    height: 1.5rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #8257E5;
    transition: 0.1s;
    scale: 90%;
    
}

.main button:hover {
    background-color: #4e348a;
    scale: 100%;
  }

.main header {
    width: 100%;
    background-color: #121214;
    height: 5rem;
    display: flex;
    align-items: center;
}

.main header h1 {
    color: gray;
    cursor: pointer;
    margin: 0.5rem;
    transition: 0.1s;
}
.main header h1:hover {
    color: white;
}
.calendario {
    width: 100%;
    height: 100%;
    background-color: #C5CAC8;
    display: flex;
    flex-direction: row;
}

.calendario section {
    width: 14.28%;
    height: 100vh;
    background-color: black;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}

.dias {
    background-color: #5a2a72;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
}

.dias:hover {
    background-color: #351942;
}

.aula {
    background-color: #55BCC9;
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.1s;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.aula:hover  {
    background-color: #2f666d;
}

.aulasModal {
    background-color: #121214;
    height: 65vh;
    width: 70vw;
    border-radius: 1rem;
    border: solid 2px #8257E5;
    position: fixed;
    top: 50%;                         
   transform: translate(0, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.aulasModal header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem ;
}

.aulasModalCampos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.aulasModalColuna {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 25%;
    margin-top: 2rem;
}

.aulasModalColunaDireita {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 40%;
    margin-top: 2rem;
    gap: 1rem;
}

.aulasModalColuna section {
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    border: solid 2px #8257E5;
    cursor: pointer;
}

.aulasModalColuna section h1  {
    margin: 0.5rem;
}
.aulasModalColuna section h2  {
    margin: 0.5rem;
    color: #969595;
    
}

.aulasModalQuadrado {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    height: 75%;
    width: 100%;
    background-color: black;
    border-radius: 1rem;
    border: solid 2px #8257E5;
    margin-top: 1rem;
    overflow: hidden;
}

.aulasModalQuadrado h1 {
    margin-left: 0.5rem;
}
.aulasModalQuadrado h3 {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: #969595;
}

.adicionar {
    width: 35vw;
    height: auto;
    background-color: #121214;
    position: fixed;
    margin: 1rem;
    top: 50%;                         /* 3 */
   transform: translate(0, -50%) ;
    border-radius: 1rem;
    border: solid 2px #5a2a72;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adicionar select {
    background-color: #2d1f4e;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 50%;
    text-align: center;
    height: 3rem;
  }

  .adicionar h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

.adicionar input {
    margin-top: 2rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: black;
    border: none;
    outline: 0;
    transition: 0.1s;
    color: #fff;
    width: 70%;
    padding: 1rem;
  }
@media screen and (max-width: 768px) {
    .main {
      margin-top: 5rem;
      margin-left: 0;
    }

    .calendario {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .calendario section {
        width: 100%;
        height: auto;
        overflow-y: scroll;
    }

    .adicionar {
        width: 90vw;
        height: auto;
    }

    .aulasModal {
        background-color: #121214;
        height: 100vh;
        width: 100vw;
        border-radius: 1rem;
        border: solid 2px #8257E5;
        position: absolute;
        top: 50%;                         
       transform: translate(0, -50%);
       display: flex;
       flex-direction: column;
       align-items: center;
       
    }
    
    .aulasModal header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem ;
    }
    
    .aulasModalCampos {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 1rem;
        overflow: scroll;
        
    }
    
    .aulasModalColuna {
        display: flex;
        flex-direction: column;
        height: 85%;
        width: 80%;
        margin-top: 0rem;
    }
    
    .aulasModalColunaDireita {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        margin-top: 1rem;
        gap: 0rem;
    }
    
    .aulasModalColuna section {
        width: 100%;
        height: 7rem;
        border-radius: 1rem;
        background-color: black;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        border: solid 2px #8257E5;
        cursor: pointer;
    }
    
    .aulasModalColuna section h1  {
        margin: 0.5rem;
    }
    .aulasModalColuna section h2  {
        margin: 0.5rem;
        color: #969595;
        
    }
    
    .aulasModalQuadrado {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: black;
        border-radius: 1rem;
        border: solid 2px #8257E5;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    
    .aulasModalQuadrado h1 {
        margin-left: 0.5rem;
    }
    .aulasModalQuadrado h3 {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        color: #969595;
    }

}


@media screen and (min-width: 1000px) and (max-width: 1360px)  {

    .main {
        margin-top: 4rem;
    }

    .main header {
        height: 3.5rem;
    }

    .calendario {
        flex-direction: row;
    }

    .calendario section {
        width: 100%;
        height: 100%;
        top: 50%;
        transform: inherit;
    }

    
}