.main {
    display: flex;
    flex-direction: column;


}
.barra {
    width: 100%;
    height: 5rem;
    background-color: #121214;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    border-bottom: 2px solid #585858;
}

.barra h1 {
    width: 10rem;
    margin: 1rem;
    
}

.barra img {
    display: none;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil {
    margin: 1rem;
    cursor: pointer;
    border: solid 2px #8257E5;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfilFlex section {
    width: 10rem;
    height: 15rem;
    background-color: #202024;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil img {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
} 

.logo img {
    margin: 1rem;
    display: block;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

.modalOpcoes {
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.modalOpcoes:hover {
    background-color: #313131;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
    }
    .logo  {
        display: none;
        width: 3.5rem;
        height: 3.5rem;
    } 

    .barra h1{
        display: none;
    }
    .barra {
        width: 100%;
        height: 5rem;
        flex-direction: row;
        position: fixed;
        top: 0;
    }

    .barra img {
        display: block;
    }

    .perfil {
        display: none;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1360px)  {
    .barra {
        width: 100%;
        height: 4rem;
        flex-direction: row;
        position: fixed;
        top: 0;
    }
}