.main {
    display: flex;
    flex-direction: column;


}
.barra {
    width: 100%;
    height: 5rem;
    background-color: #121214;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    border-bottom: 2px solid #585858;
}

.barra h1 {
    width: 10rem;
    margin: 1rem;
    
}

.barra img {
    display: none;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil {
    margin: 1rem;
    cursor: pointer;
    border: solid 2px #8257E5;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfilFlex section {
    width: 10rem;
    height: auto;
    background-color: #202024;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil img {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
} 

.logo img {
    margin: 1rem;
    display: block;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

.modalOpcoes {
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.modalOpcoes:hover {
    background-color: #313131;
}

.mobileBar {
 display: none;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
    }
    .logo  {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4rem;
    } 

    .barra h1{
        display: none;
    }
    .barra {
        width: 100%;
        height: 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
    }

    .barra img {
        display: block;
    }

    .perfil {
        display: none;
    }

    .Links {
        display: none;
    }
    
    .mobileBar {
        display: block;
        width: 3rem;
        height: 3rem;
        background-color: #8257E5;
        margin-right: 1rem;
    }

    .mobileMenu {
        height: 100vh;
        width: 100vw;
        background-color: #101010;
        position: absolute;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 10%;
        padding-right: 10%;
        }

    .mobileMenu section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobileMenu section p {
        color: #737577;
        font-weight: bold;
    }

    .mobileMenu header {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .mobileMenu header button{
        margin-top: 2rem;
    }

    .mobileMenu footer {
        width: 100%;
        height: 4rem;
        background-color: #222526;
        display: flex;
        flex-direction: row;
    }

    .mobileMenuFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .mobileMenuFooter h3{
        color: #fff;
    }
    .mobileMenuFooter p{
        color: #707477;
        font-weight: bold;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1360px)  {
    .barra {
        width: 100%;
        height: 4rem;
        flex-direction: row;
        position: fixed;
        top: 0;
    }
}