.main {
    width: 100vw;
    height: 100vh;
    margin-top: 4rem;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main header {
    background-color: #121214;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.main header h1 {
    margin: 1rem;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2d1f4e;
}

.botoes button {
    cursor: pointer;
    width: 15rem;
    height: 3.5rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #8257E5;
    transition: 0.1s;
    scale: 90%;
    
}

.botoes button:hover {
    background-color: #4e348a;
    scale: 100%;
  }

  .botoes input {
    margin: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: black;
    border: none;
    outline: 0;
    transition: 0.1s;
    color: #fff;
    width: 20rem;
    padding: 1rem;
  }
  
  .botoes input:focus {
    border: solid 2.5px #8257E5;
  }
  
  .botoes input::placeholder {
    color: rgb(122, 122, 122);
    font-weight: bold;
  }

.campo {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.campo::-webkit-scrollbar {
    background-color: #8257E5;
  }
  
  .campo::-webkit-scrollbar-thumb {
    background: #4e348a;
    border-radius: 1rem;    
  }

.flexar {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.flexarButtons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-top: 0;

}

.flexarButtons button {
  cursor: pointer;
  width: 8rem;
  height: 3.5rem;
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #8257E5;
  transition: 0.1s;
  scale: 90%;
  
}

.flexarButtons button:hover {
  background-color: #4e348a;
  scale: 100%;
}

.deletar {
  width: 25rem;
  height: 15rem;
  border: solid 2px #8257E5;
  border-radius: 1rem;
  transform: translateY(-5rem);
  background-color: #121214;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deletar section {
  display: flex;
  flex-direction: row;
}

.deletar button {
  cursor: pointer;
  width: 8rem;
  height: 3.5rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #8257E5;
  transition: 0.1s;
  scale: 90%;
  
}

.deletar button:hover {
  background-color: #4e348a;
  scale: 100%;
}



.container {
    width: 20rem;
    height: 30rem;
    background-color: #121214;
    margin: 1rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 90%;
}

.container:hover {
  scale: 100%;
}

.containerHeader {
  width: 100%;
  height: 15%;
  background-color: #8257E5;
  border-top-right-radius: 1rem ;
  border-top-left-radius: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.textBox {
  width: 90%;
  height: 60%;
  margin: 1rem;
  background-color: #4e348a;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.container section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.container section h4 {
  margin: 1rem;
  width: 110%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(177, 177, 4);
  font-weight: bold;
}
.containerLoading{
    width: 20rem;
    height: 30rem;
    background-color: #121214;
    margin: 1rem;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 90%;
}

.containerHeaderLoading {
  width: 100%;
  height: 15%;
  background-color: #302153;
  border-top-right-radius: 1rem ;
  border-top-left-radius: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.textBoxLoading {
  width: 90%;
  height: 60%;
  margin: 1rem;
  background-color: #1a122e;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.containerLoading section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.containerLoading section h4 {
  margin: 1rem;
  width: 110%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(46, 46, 2);
  font-weight: bold;
}

.cadastroModal {
  width: 30%;
  height: auto;
  background-color: #121214;
  border: solid 2px #8257E5;
  border-radius: 1rem;
  position: absolute;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastroModal button {
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #8257E5;
  transition: 0.1s;
  scale: 90%;
  
}

.cadastroModal button:hover {
  background-color: #4e348a;
  scale: 100%;
}

.cadastroModal input {
  margin: 0.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: black;
  border: none;
  outline: 0;
  transition: 0.1s;
  color: #fff;
  width: 20rem;
  padding: 1rem;
}

.cadastroModal input:focus {
  border: solid 2.5px #8257E5;
}

.cadastroModal input::placeholder {
  color: rgb(122, 122, 122);
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .main {
    margin-top: 4rem;
    width: 100%;
  }

  .cadastroModal {
    width: auto;
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  .main {
    margin-top: 3.5rem;
    width: 100%;
  }

  .main header {
    height: 2.8rem;
    font-size: 0.8rem;
  }

  .botoes {
    height: 3rem;
  }

  .botoes button:hover {
    background-color: #4e348a;
    scale: 100%;
  }

  .botoes button {
    height: 2.5rem;
    width: 10rem;
  }

  .botoes input {
    margin: 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: black;
    border: none;
    outline: 0;
    transition: 0.1s;
    color: #fff;
    width: 20rem;
    padding: 1rem;
  }

  .campo {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: 1rem;
}

  .container {
    width: 15rem;
    height: 25rem;
    background-color: #121214;
    margin: 1rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 90%;
}

.textBox {
  width: 90%;
  height: 60%;
  margin: 1rem;
  background-color: #4e348a;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  overflow-y: scroll;
}

.textBox::-webkit-scrollbar {
  background-color: #8257E5;
  width: 4px;
}

.textBox::-webkit-scrollbar-thumb {
  background: #3a2768;
  border-radius: 1rem;    
}

.container section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.container section h4 {
  margin: 1rem;
  width: 110%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(177, 177, 4);
  font-weight: bold;
}

.flexarButtons button {
  cursor: pointer;
  width: 6rem;
  height: 3.5rem;
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #8257E5;
  transition: 0.1s;
  scale: 90%;
  
}

.flexarButtons button:hover {
  background-color: #4e348a;
  scale: 100%;
}

}