.main {
   width: 100vw;
    height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rodape {
    background-color: #121214;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rodape h1 {
    margin: 1rem;
}

.campo {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cardsCampo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.cardsCampo::-webkit-scrollbar {
  background-color: #8257E5;
}

.cardsCampo::-webkit-scrollbar-thumb {
  background: #4e348a;
  border-radius: 1rem;    
}

.cards {
  width: 25rem;
  cursor: pointer;
  height: 15rem;
  background-color: #121214;
  margin: 1rem;
  border-radius: 1rem;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.cards section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards h3 {
  margin: 1rem;
  text-align: center;
}
.cards h4 {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  text-align: center;
}

.cards img {
  width: 4rem;
  height: 4rem;
  border: solid 2px #8257E5;
  border-radius: 50%;
  margin: 1rem;
}

.cards:hover {
  border: solid 2px #8257E5;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2d1f4e;
}

.botoes button {
    cursor: pointer;
    width: 15rem;
    height: 3.5rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #8257E5;
    transition: 0.1s;
    scale: 90%;
    
}

.botoes button:hover {
    background-color: #4e348a;
    scale: 100%;
  }

  .botoes input {
    margin: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: black;
    border: none;
    outline: 0;
    transition: 0.1s;
    color: #fff;
    width: 20rem;
    padding: 1rem;
  }
  
  .botoes input:focus {
    border: solid 2.5px #8257E5;
  }
  
  .botoes input::placeholder {
    color: rgb(122, 122, 122);
    font-weight: bold;
  }

  .cadastro {
    position: absolute;
    width: 35%;
    height: 60vh;
    background-color: #fff;
    border-radius: 1.5rem;
    background-color: #121214;
    border: solid 2px #2f2053;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cadastro button {
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #8257E5;
    transition: 0.1s;
    scale: 90%;
    
}

.cadastro button:hover {
    background-color: #4e348a;
    scale: 100%;
  }

  .cadastro input {
    margin: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: black;
    border: none;
    outline: 0;
    transition: 0.1s;
    color: #fff;
    width: 20rem;
    padding: 1rem;
  }
  
  .cadastro input:focus {
    border: solid 2.5px #8257E5;
  }
  
  .cadastro input::placeholder {
    color: rgb(122, 122, 122);
    font-weight: bold;
  }