.main {
    width: 100vw;
     height: 100vh;
     background-color: black;
     color: #fff;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     margin-top: 4rem;
    }
 
 .header {
     background-color: #121214;
     width: 100%;
     height: 5rem;
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }
 
 .header h1 {
     margin: 1rem;
 }

 .campo {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2d1f4e;
}

.botoes button {
    cursor: pointer;
    width: 15rem;
    height: 3.5rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #8257E5;
    transition: 0.1s;
    scale: 90%;
    
}

.botoes button:hover {
    background-color: #4e348a;
    scale: 100%;
  }

  .botoes input {
    margin: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: black;
    border: none;
    outline: 0;
    transition: 0.1s;
    color: #fff;
    width: 20rem;
    padding: 1rem;
  }
  
  .botoes input:focus {
    border: solid 2.5px #8257E5;
  }
  
  .botoes input::placeholder {
    color: rgb(122, 122, 122);
    font-weight: bold;
  }

  .professorArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: scroll;
  }

  .professor {
    width: 20rem;
    height: 27rem;
    background-color: #211738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    transition: 0.1s;
    cursor: pointer;
  }

  .professor:hover {
    border: solid 3px #55BCC9;
  }

  .professor section {
    width: 50%;
    height: 40%;
    background-color: black;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 3px #55BCC9;
  }

  .professor h3 {
    font-weight: lighter;
  }
  .professor p {
    margin: 0.3rem;
    font-weight: bold;
    color: #9b9b9b;
  }

  .professor section img{
    width: 6rem;
    height: 6rem;
  }

  .professor button {
    background-color: #55BCC9;
    border: none;
    color: #211738;
    font-weight: 700;
    width: 6rem;
    height: 2.5rem;
    cursor: pointer;
    transition: 0.1s;
  }
  .professor button:hover {
    background-color: #397a83;
  }

  .infoProfessor {
    width: 100%;
    height: 8rem;
    background-color: #160c2e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cadastro {
    position: absolute;
    width: 40%;
    height: 40vh;
    background-color: #fff;
    border-radius: 1.5rem;
    background-color: #121214;
    border: solid 2px #2f2053;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cadastro section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cadastro button {
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #8257E5;
    transition: 0.1s;
    scale: 90%;
    
}

.cadastro button:hover {
    background-color: #4e348a;
    scale: 100%;
  }

  .cadastro input {
    margin: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: black;
    border: none;
    outline: 0;
    transition: 0.1s;
    color: #fff;
    width: 45%;
    padding: 1rem;
  }
  
  .cadastro input:focus {
    border: solid 2.5px #8257E5;
  }
  
  .cadastro input::placeholder {
    color: rgb(122, 122, 122);
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    .main {
      padding-top: 5rem;
      padding-left: 0;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1360px)  {
    .main {
      padding-top: 4rem;
      padding-left: 0;
    }

    .header {
      height: 3rem;
    }

    .botoes {
      height: 4rem;
    }
  }